/*
      ❤❤❤❤❤           ❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤     ❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤ VXBZ ❤ www.viiksipojat.fi ❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤2015❤❤❤❤❤❤❤❤❤❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
    ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
      ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
        ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
          ❤❤❤❤❤❤❤❤❤❤❤❤❤
            ❤❤❤❤❤❤❤❤❤
             ❤❤❤❤❤❤❤
              ❤❤❤❤❤
                ❤
*/

table {
	table-layout: fixed;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

tbody {
	border: none !important;
}

/* TEMP SOLUTION */
/* http://stackoverflow.com/questions/19559197/how-to-make-scrollable-table-with-fixed-headers-using-css */
table {
	width: 100%;
}
table thead, table tbody {
	display: block;
	width: 100%;
}
table tbody {
	overflow: auto;
	height: 80vh;
}
table tr {
	width: 100%;
	display: table;
}

th:first-child {
	width: 5%;
	/*font-size: 16px;*/
}

th, td {
	width: 15%;
	/*border: none !important;*/
}

th.slot9 {
	height: 60px;
}

th.slot8, th.slot10, th.slot12, th.slot17, th.slot19 {
	height: 120px;
}

th.slot14, th.slot21 {
	height: 180px;
}

/* column spanning headers */

.nav-condensed > li > a {
	padding: 8px;
}

caption, tbody>tr>th.day {
/*	font-size: 36px;
	line-height: 36px;
*/	font-weight: 800;
	color: #eee;
	background-color: #111;
	padding: 20px 16px;

	border-radius: 4px;
}

th.day > h3 {
	margin: 0;
}

.slot > time {
	word-wrap: normal;
	line-height: 1;
	font-size: 2.5em;
	color: #ddd;
}

/* FILM SEARCH */

#search-film {
	margin-left: 16px;
}

.nav-justified #search-film {
	vertical-align: bottom;
	width: 4%;
}

#search-film > i {
	color: #eee;
}
#search-film > i.enabled {
	color: #555;
}
#search-film > i.enabled::before {
	cursor: pointer;
	pointer-events: auto;
}

/* SCREENING STUFF */

screening {
	display: block;
	position: relative;
}

.screening {
	position: absolute;
	width: 100%;
}

address {
	/* NOTE: how about these in real life ? */
	position: absolute;
	top: -34px;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	margin: 0;
	padding: 8px 4px;
	background: black;
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.screening-body {
	padding: 8px;
}

.highlight {
	background-color: #ff7;
}

.duration {
	position: absolute;
	bottom: 0;
	right: 6px;
}

small {
	color: gray;
}

.number {
	position: absolute;
	bottom: 0;
	left: 6px;
}

.selected {
	background-color: #C0F0C0 !important;
}
