/*
      ❤❤❤❤❤           ❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤     ❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤ VXBZ ❤ www.viiksipojat.fi ❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤2015❤❤❤❤❤❤❤❤❤❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
    ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
      ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
        ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
          ❤❤❤❤❤❤❤❤❤❤❤❤❤
            ❤❤❤❤❤❤❤❤❤
             ❤❤❤❤❤❤❤
              ❤❤❤❤❤
                ❤
*/

#viiksipojat {
	display: none;
	margin-top: 1.5em;
	color: #777;
}

table#FilmList {
	border-spacing: 0;
	border-collapse: collapse;

	table-layout: fixed;
	word-wrap: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

table#FilmList th:first-child {
	width: 5%;
}

table#FilmList th,
table#FilmList td {
	width: 15%;
	padding: 6px 8px;
	vertical-align: top;
	border-top: 1px solid #777;
}

table#FilmList > thead > tr > th {
	border-top: none;
	border-bottom: 2px solid #777;
}

table#FilmList > thead > tr > th > h2 {
	margin: 0;
}

table#FilmList tr.slot > th > h2 {
	word-wrap: normal;
	font-size: 2em;
	color: #777;
}

th.slot9 {
	height: 90px;
}

th.slot8, th.slot10, th.slot12, th.slot17, th.slot19 {
	height: 180px;
}

th.slot14, th.slot21 {
	height: 270px;
}

th.slot21.slot23 {
	height: 360px;
}

/* TEMP SOLUTION FIXED HEADERS */
/* http://stackoverflow.com/questions/19559197/how-to-make-scrollable-table-with-fixed-headers-using-css */
/*table#FilmList {
	width: 100%;
	position: absolute;
	bottom: 0;
}
table#FilmList > thead,
table#FilmList > tbody {
	display: block;
	width: 100%;
}
table#FilmList > tbody {
	overflow: auto;
	height: 80vh;
}
table#FilmList tr {
	width: 100%;
	display: table;
}*/

/* COLUMN SPANNING HEADERS */

table#FilmList > tbody > tr.day > th {
	color: #eee;
	background-color: #111;
	padding: 20px 16px 16px;
	border-top: none;
}

table#FilmList > tbody > tr.day > th > h2 {
	font-size: 2em;
	margin: 0;
}

table#FilmList > tbody > tr.day + tr > th,
table#FilmList > tbody > tr.day + tr > td {
	border-top: none;
}

/* DAY NAVIGATION */

nav {
	/* from espoocine.fi/2015/fi/StyleSheet/51.css */
	font-family: 'Cinecitta-Medium';
}

nav > ul {
	padding-left: 0;
	list-style: none;
}

nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

nav > ul > li {
	float: left;
	position: relative;
	display: block;
	margin-bottom: 1em;
}

nav > ul > li > a {
	padding: 8px;
}

nav > ul > li > a:hover {
	text-decoration: none;
	background-color: #eee;
}

nav > ul > li.active > a {
	color: #fff;
	background-color: #e74011;
}

/* FILM SEARCH & MY FESTIVAL & FB SHARE */

#search-film {
	margin-left: 16px;
    margin-top: -5px;
}

#search-film > input {
    font-size: 110%;
}

mark {
	color: white;
	background-color: #e74011;
	padding-top: inherit;
	padding-bottom: inherit;
}

#fb-share, #my-festival {
	float: right !important;
	/*margin-right: 1em;*/
}
#fb-share > a > img {
	padding-right: 8px;
    margin-top: -3px;
    height: 1.2em;
}

/* SCREENING STUFF */

screening {
	display: block;
	position: relative;
}

.screening {
	position: absolute;
	width: 100%;

	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/*border: 1px solid #ddd;*/
	border-collapse: separate;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.screening:hover {
	/*cursor: pointer;*/
	/*z-index: 2;*/
}

.screening.selected {
	/* cine: #e74011 */
	/*background-color: #58E711;*/
	-webkit-box-shadow: 0 0 4px 6px #e74011;
	-moz-box-shadow: 0 0 4px 6px #e74011;
	box-shadow: 0 0 4px 6px #e74011;
}

.screening > address {
	/* special theater above timeslot */
	/* position: absolute;
	top: -34px;
	width: 100%; */

	border-top-left-radius: inherit;
	border-top-right-radius: inherit;

	padding: 8px 4px 6px;

	background: black;
	color: white;

	font-size: 0.82em;
	font-style: normal;
	text-align: center;
}

.screening > address > h4 {
	margin: 0;
}

.screening > img {
	width: 100%;
}

.screening > img.fb {
	position: absolute;
	right: 0;
	width: 20px;
	/*animation: fadein 2s;*/
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.screening>.top, .screening>.bottom {
	padding: 4px;

	box-sizing: border-box;
	position: absolute;
	width: 100%;
}
.screening>.top {
	/*top: 0;*/
}
.screening>.bottom {
	bottom: 0;
}

.screening>.top > time,
.screening>.top > h3 > a,
.screening>.bottom > small {
	background-color: white;
	padding: 0px 2px;
}
.screening>.top > h3 > a {
	padding: 3px 2px 0px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

small {
	color: #555;
}

.number {
	clear: both;
	float: left;
}

.duration {
	float: right;
}
