/*
      ❤❤❤❤❤           ❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤     ❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤ VXBZ ❤ www.viiksipojat.fi ❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤2015❤❤❤❤❤❤❤❤❤❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
    ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
      ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
        ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
          ❤❤❤❤❤❤❤❤❤❤❤❤❤
            ❤❤❤❤❤❤❤❤❤
             ❤❤❤❤❤❤❤
              ❤❤❤❤❤
                ❤
*/

body {
	padding-top: 82px;
	margin: 0;
	font-size: 91%;
}

/* FONTY STUFF */
/* from espoocine.fi/2015/fi/StyleSheet/51.css */
@font-face{font-family:'Cinecitta-Medium';src:url('http://www.espoocine.fi/fonts/Cinecitta-Medium.eot');src:url('http://www.espoocine.fi/fonts/Cinecitta-Medium.eot?#iefix') format('embedded-opentype'), url('http://www.espoocine.fi/fonts/Cinecitta-Medium.woff') format('woff'), url('http://www.espoocine.fi/fonts/Cinecitta-Medium.ttf') format('truetype');
}
nav a, h1, h2, h3, h4, .screening .fb-friends > li > span {
	font-family: 'Cinecitta-Medium';
}

/* COMMON STUFF */

a {
	color: #52ae32;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 13px; }

#viiksipojat {
	margin-top: 4em;
	margin-left: 4em;
	margin-bottom: 1em;
	color: #777;
}

/* SCREENING TABLE */

table#theaters,
table#screenings {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	/* hack for meta viewport width=device-width */
	min-width: 1000px;

	/*table-layout: fixed;*/
	word-wrap: break-word;
	word-break: break-word;

	/*-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;*/
}

/* HACK FIXED THEATER HEADER */
table#theaters {
	background-color: white;
}
table#theaters th:first-child > h2 {
	visibility: hidden;
}

th, td {
	/* 9 * 10 + 4 = 94% TÖÖT */
	width: 10%;
	padding: 6px 8px;
	vertical-align: top;
	border-top: 1px solid #777;
}
th:first-child {
	word-wrap: normal;
	word-break: normal;
	width: 4%;
}

tr.theater > th {
	border-top: none;
	border-bottom: 2px solid #777;
	padding-top: 1em;
}
tr.theater > th > * {
	margin: 0;
}

tr.slot > th > h2 {
	font-size: 2.2em;
	margin: 0;
	color: #777;
}

/* TIMESLOT HEIGHTS */

tr.slot:not(:last-child) > th {
	height: 180px !important;
}

tr.slot:not(:last-child) > th.slot21 {
	height: 270px !important;
}

/* last row has some space */
tr.slot:last-child > th {
	padding-bottom: 60px !important;
}

/* COLUMN SPANNING HEADERS */

tr.day > th {
	color: #eee;
	background-color: #111;
	padding: 20px 16px 16px;
	border-top: none;
}
.myfestival tr.day > th {
	background-color: #52ae32;
}

tr.day > th > h2 {
	font-size: 2.2em;
	margin: 0;
}

tr.day > th > h2.today > time {
	border-bottom: 6px solid;
}

/* DAY NAVIGATION */

nav {
	font-size: 13px;
	background-color: #eee;
	position: fixed;
	width: 100%;
	z-index: 7;
	top: 0;
}

nav > ul {
	margin-bottom: 2px;
	padding-left: 0;
	list-style: none;
}

nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

nav > ul > li {
	float: left;
	position: relative;
	display: block;
	margin-bottom: 1em;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
	padding: 8px;
	color: black;
}

nav > ul > li > a:hover {
	text-decoration: none;
	/*background-color: #fff;*/
	color: #52ae32;
}

nav > ul > li.active > a {
	color: #fff;
	background-color: #52ae32;
}

nav > ul > li.today > a {
	padding-bottom: 2px;
	border-bottom: 6px solid;
}

/* FILM SEARCH & MY FESTIVAL & FB SHARE & HELP */

#search-film {
	margin-left: 16px;
	margin-top: -2px;
	display: none; /* TODO: MORE SPACE */
}

mark {
	color: white;
	background-color: #52ae32;
	padding-top: inherit;
	padding-bottom: inherit;
}

#fb-share, #fb-login, #my-festival, #help {
	float: right !important;
	/*margin-right: 1em;*/
}

#fb-login {
	margin-bottom: 0;
}

#fb-login > a > img {
	padding-right: 2px;
	margin-top: -6px;
	height: 2.2em;
}

#fb-login > a > span {
	color: #52ae32;
	position: relative;
	font-size: 18px;
	bottom: 3px;
}

#fb-login:not(.logged) > a > img,
#fb-login.logged > a > span {
	display: none;
}

#help {
	margin-right: 8px;
}

#help > aside {
	position: absolute;
	z-index: 2;
	top: 22px;
	right: 0;
	width: 240px;
	background-color: #eee;
	padding: 1em;
	border-top: solid 4px #52ae32;
}
#help:not(.active) > aside,
#help.share > aside > section:not(.share),
#help:not(.share) > aside > section.share {
	display: none;
}

#help > aside > section > h2 {
	margin: 0;
}

#help p {
	margin-top: 0.7em;
}

#help p > span {
	font-size: 1.2em;
	color: #52ae32;
}
#help p > span.typcn::before {
	width: auto;
}

#help.auto > aside > section > p > a {
	animation: pulse 2s infinite alternate;
}
@keyframes pulse {
	from { opacity: 1; }
	to   { opacity: 0.5; }
}

#help img.fb {
	width: 1.4em;
	border-radius: 50%;
}

#fb-friends {
	/*float: right;*/
	margin-top: 0;
	padding: 4px 0;
	background-color: #e4e4e4;
}
#fb-friends.help {
	padding-right: 280px;
}

#fb-friends > li {
	/*display: inline-block;*/
	padding-right: 8px;
	margin-bottom: 0;
	float: right;
}

#fb-friends > li.hidden {
	opacity: 0.4;
}

#fb-friends > li.myfestival > a {
	color: #fff;
	background-color: #52ae32;
}

#fb-friends > li > a {
	padding-left: 0;
}

#fb-friends img {
	height: 2.2em;
	vertical-align: middle;
	margin-top: 1px; /* ? */
}

/* TOOLTIP HELP SYSTEM */

.tooltip {
	color: white;
	background-color: #333;
	border: solid 3px #333;
	padding: 4px;
	padding-left: 8px;
	font-size: 13px;

	position: absolute;
	z-index: 10;
	left: 0%;
	top: 100%;
	width: 200px;
	/*white-space: nowrap;*/

	transition: opacity 0.5s, visibility 0s;
}
.tooltip:not(.active) {
	transition: opacity 0.5s, visibility 0s 0.5s;
	visibility: hidden;
	opacity: 0;
}
.tooltip:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 0px 6px 6px 6px;
	content: "";
	left: 8px;
	top: -8px; /* :before border + .tooltip border */
	position: absolute;
}
.tooltip.right {
	left: auto;
	right: 0%;
}
.tooltip.right:before {
	left: auto;
	right: 8px;
}
.tooltip > button {
	float: right;
	border: none;
	background: none;
}
.tooltip > button:not(:hover) {
	opacity: .7;
}
.tooltip > button > span {
	font-size: 20px;
	font-weight: bold;
	color: white;
}


/* SCREENING STUFF */

screening {
	display: block;
	position: relative;
}

.screening {
	position: absolute;
	width: 100%;

	background-color: #eee;

	border-collapse: separate; /* IE */
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}
.screening:hover {
	/*cursor: pointer;*/
}
.screening.selected {
	-webkit-box-shadow: 0 0 0px 6px #52ae32;
	-moz-box-shadow: 0 0 0px 6px #52ae32;
	box-shadow: 0 0 0px 6px #52ae32;
}

.screening > .full, .screening > .bg {
	pointer-events: none;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.screening.selected-sibling > .bg {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.screening.selected-sibling > .full {
	background-color: rgba(255,255,255, 0.5);
	z-index: 4;
}
.screening:hover > .full {
	background-color: rgba(0,0,0, 0.3);
}
.screening.selected > .full {
	background-color: rgba(120,190,32, 0.5);
}

.screening.target > .full {
	animation: highlight 2s ease-in;
}
@keyframes highlight {
	0% {
		background-color: rgba(17,64,231, 0.7);
	}
	100% {
		/*background-color: rgba(17,64,231, 0);*/
	}
}

.screening > address {
	position: relative;

	border-top-left-radius: inherit;
	border-top-right-radius: inherit;

	padding: 8px 4px 6px;

	background: black;
	color: white;

	font-style: normal;
	text-align: center;
}

.screening a.extra {
	position: absolute;

	right: -8px;
	top: -7px;

	color: #52ae32;
	background-color: white;

	text-align: center;
	font-weight: bold;
	font-size: 24px;
	/* line-height: 2; */

	/*animation: wiggle 4s ease-in-out infinite;*/
}
@keyframes wiggle {
	60%, 100% {
		transform: rotate(0deg)
	}
	70% {
		transform: rotate(4deg)
	}
	90% {
		transform: rotate(-4deg)
	}
}

.screening > address > h4 {
	margin: 0;
}

.screening > img.fb {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 20px;
}

.screening .fb-friends {
	list-style: none;
	margin: 0;
	padding: 0;

	/* https://davidwalsh.name/remove-whitespace-inline-block */
	font-size: 0;

	position: absolute;
	z-index: 5;
	right: 0;
	top: -10px;
}
.screening .fb-friends > li {
	display: inline-block;
	position: relative;
	padding: 2px;
	/*background-color: rgba(255,255,255, 0.6);*/
}
.screening .fb-friends img {
	width: 24px;
	border-radius: 50%;

/*	-webkit-box-shadow: 0 0 2px 2px #fff;
	-moz-box-shadow: 0 0 2px 2px #fff;
	box-shadow: 0 0 2px 2px #fff;
*/
}

.screening .fb-friends > li > span {
	/*content: attr(alt);*/

	white-space: nowrap;
	background-color: white;
	padding: 2px 2px 0px;
	font-size: 13px;

	position: absolute;
	z-index: 1;
	left: 50%;
	top: 100%;

	visibility: hidden;	 
}
.screening .fb-friends > li:hover > span,
.screening .fb-friends > li.hover > span {
	visibility: visible;
}
td:last-child .fb-friends span {
	right: 50%;
	left: auto;
}

.screening>.top, .screening>.bottom {
	padding: 4px;

	box-sizing: border-box;
	position: absolute;
	width: 100%;
}
.screening>.top {
	/*top: 0;*/
}
.screening>.bottom {
	bottom: 0;
}

.screening>.top > time {
	/* let's go over film title */
	position: relative;
	z-index: 2;
}

.screening>.top > time,
.screening>.bottom > h3 > a,
.screening>.bottom > small {
	background-color: white;
	padding: 0px 2px;
}
.screening>.bottom > h3 > a {
	/* HOX tää on aika tarkkaa että hover-alleviivaus näkyy ! */
	padding: 2px 2px 0px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.screening>.bottom > h3 > a > span {
	padding-top: inherit;
	padding-bottom: inherit;
}
.screening>.bottom > small {
	background-color: rgba(255,255,255,0.9);
}

.screening small {
	color: #555;
}

.screening .number {
	clear: both;
	float: left;
}
.screening .number > a {
	color: inherit;
}

.screening .duration {
	float: right;
}

/* HACKED SCREENING BOXES */

#rabarber-E1 {
	left: calc(-200% - 16px);
}
.screening.special[id^="rabarber-"] {
	left: calc(-100% - 8px);
}
.screening.special[id^="rabarber-"] h3 {
	margin-bottom: 4px;
}

#animaatioita-pienimmille-4,
#animaatioita-pienimmille-7,
#animaatioita-pienimmille-E1 {
	left: calc(-100% - 8px);
}
#animaatioita-pienimmille-E2 {
	left: calc(-200% - 16px);
}
#animaatioita-pienimmille-E3 {
	left: calc(-300% - 24px);
}
.screening[id^="animaatioita-"] {
	height: 78px !important;
}
.screening.special[id^="animaatioita-"] {
	height: 88px !important;
}
.screening[id^="animaatioita-"] h3,
.screening[id^="lyhytelokuvia-"] h3 {
	margin-bottom: 4px;
}

#kikattava-kakkiainen-1 {
	height: 78px !important;
}
#kikattava-kakkiainen-1 h3 {
	margin-bottom: 4px;
}

#papulabox-1 {
	height: 60px !important;
}
#papulabox-1 h3 {
	margin-bottom: 4px;
}

#priorat-E {
	left: calc(-100% - 8px);
}
#priorat-E h3 {
	margin-bottom: 4px;
}

#ente-gut-madchen-allein-zu-haus-3 {
	left: calc(-100% - 8px);
}
