/*
      ❤❤❤❤❤           ❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤     ❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤ VXBZ ❤ www.viiksipojat.fi ❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤2015❤❤❤❤❤❤❤❤❤❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
    ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
      ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
        ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
          ❤❤❤❤❤❤❤❤❤❤❤❤❤
            ❤❤❤❤❤❤❤❤❤
             ❤❤❤❤❤❤❤
              ❤❤❤❤❤
                ❤
*/

table {
	table-layout: fixed;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

th:first-child {
	width: 5%;
	/*font-size: 16px;*/
}

th, td {
	width: 15%;
	/*border: none !important;*/
}

td:empty {
	border: 4px solid red;
}

caption, th.day {
/*	font-size: 36px;
	line-height: 36px;
*/	font-weight: 800;
	color: #eee;
	background-color: #111;
	padding: 16px;

	border-radius: 4px;
}

tbody {
	border: none !important;
}

address {
	margin: 0;
	padding: 10px 4px;
	background: black;
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#etsi-elokuvaa {
	margin-top: 20px;
}

.highlight {
	background-color: #ff7;

.screening-body {
	padding: 8px;
}

.selected {
	background-color: #C0F0C0 !important;
}
