/*
      ❤❤❤❤❤           ❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤     ❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤ ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
❤❤❤ VXBZ ❤ www.viiksipojat.fi ❤❤❤
❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
 ❤❤❤❤❤❤❤❤❤❤❤❤❤2015❤❤❤❤❤❤❤❤❤❤❤❤❤❤
  ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
    ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
      ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
        ❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤❤
          ❤❤❤❤❤❤❤❤❤❤❤❤❤
            ❤❤❤❤❤❤❤❤❤
             ❤❤❤❤❤❤❤
              ❤❤❤❤❤
                ❤
*/

table {
	table-layout: fixed;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

th:first-child {
	width: 5%;
	/*font-size: 16px;*/
}

th, td {
	width: 15%;
	/*border: none !important;*/
}

th.slot9 {
	height: 60px;
}

th.slot8, th.slot10, th.slot12, th.slot17, th.slot19 {
	height: 120px;
}

th.slot14, th.slot21 {
	height: 180px;
}

caption, th.day {
/*	font-size: 36px;
	line-height: 36px;
*/	font-weight: 800;
	color: #eee;
	background-color: #111;
	padding: 16px;

	border-radius: 4px;
}

tbody {
	border: none !important;
}

address {
	/* NOTE: how about these in real life ? */
	position: absolute;
	top: -34px;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	margin: 0;
	padding: 8px 4px;
	background: black;
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#etsi-elokuvaa {
	margin-top: 20px;
}

.highlight {
	background-color: #ff7;
}

/* SCREENING STUFF */

screening {
	display: block;
	position: relative;
}

.screening {
	position: absolute;
	width: 100%;
}

.screening-body {
	padding: 8px;
}

.duration {
	position: absolute;
	bottom: 0;
	right: 6px;
}

small {
	color: gray;
}

.number {
	position: absolute;
	bottom: 0;
	left: 6px;
}

.selected {
	background-color: #C0F0C0 !important;
}
