<!DOCTYPE html>

<html lang="fi">
<head>
	<meta charset="utf-8">
	<title>Espoo Ciné 2015: LEFFALUKKARI</title>

	<!-- <link rel="stylesheet" href="http://www.espoocine.fi/2015/fi/StyleSheet/51.css"> -->
	<link rel="stylesheet" href="css/cine.css">
	<link rel="stylesheet" href="css/vxxb.css">

	<script type="text/javascript" src="js/angular-etc.min.js"></script>
	<script type="text/javascript" src="js/vxxb.js"></script>
</head>

<body>
	<div id="ng-controller" ng-app="leffalukkari" ng-controller="FilmListCtrl">
		<nav id="day-nav">
			<ul>
				<li ng-repeat="day in data.days" ng-class="{active: $first}"
					du-scrollspy="{{ day.id }}">
					<a href="#{{ day.id }}" du-smooth-scroll>
						<time datetime="{{ day.date }}">{{ day.date | date:"EEE d" }}</time>
					</a>
				</li>
				<li id="search-film">
					<input id="search" type="search" placeholder="Etsi elokuvaa…" aria-label="Etsi elokuvaa" ng-model="search.text">
				</li>
				<li id="fb-share">
					<a href="#" title="Jaa leffalukkarisi Facebookiin! / Share your festival to Faceobok!" ng-click="doFbShare(); $event.preventDefault();">
						jaa <img src="Image/6237/facebook.png" alt="facebook logo">
					</a>
				</li>
				<li id="my-festival" ng-class="{active: search.myfestival}">
					<a href="#" title="My festival ({{ $storage.selected | count }} selected films)" ng-click="myFestival(); $event.preventDefault();">Omat festarit ({{ $storage.selected | count }})</a>
				</li>
			</ul>
		</nav>

		<table id="FilmList">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="theater in data.config.theaters">
						<h2>{{theater}}</h2>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="{{ day.id }}" class="day" ng-repeat-start="day in data.days">
					<th colspan="7">
						<h2>
							<time datetime="{{ day.date }}">{{ day.date | date:"EEE d.M." }}</time>
						</h2>
					</th>
				</tr>
				<tr class="slot" ng-show="(timeslot | timeslotNugger | filter:myFestivalCheck | filter:search.text).length"
					ng-repeat="(slot, timeslot) in day.timeslots" ng-repeat-end>
					<th class="slot{{ slot }}" ng-class="{slot23: $last && timeslot.duration > 160}">
						<h2>
							<time datetime="{{ timeslot.time }}">{{ slot }}</time>
						</h2>
					</th>
					<td ng-repeat="theater in timeslot.theaters">
						<screening ng-if="screeningId" ng-repeat="screeningId in theater | filter:myFestivalCheck | filter:search.text track by screeningId" ng-init="screening=data.screeningsById[screeningId]">
						</screening>
					</td>
				</tr>
			</tbody>
		</table>

		<p id="viiksipojat">Leffalukkarin sinulle teki ❤︎:lla <a href="http://viiksipojat.fi" target="_blank" onclick="ga('send', 'event', 'click', 'viiksipojat.fi')">Viiksipojat</a>.</p>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-65899235-1', 'auto');
		  ga('send', 'pageview', location.pathname + location.search + location.hash);
		</script>

		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '1504498216507859',
		      // status     : true,
		      xfbml      : true,
		      version    : 'v2.4'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
	</div>
</body>
</html>
