<section class="screening" ng-click="showKlik(screening)"
		 class="{special: screening.special}" ng-class="{selected: screening.selected}" 
		 style="top: {{ screening.timeslotdiff * 1.5 }}px; height: {{ screening.duration * 1.5 }}px;
		 		background-image: url(Image/{{screening.img}}.jpg)">

	<address ng-if="screening.special">
		{{screening.theater}}
	</address>

	<!-- <img src="Image/{{screening.img}}.jpg"> -->

	<div class="top">
		<time datetime="{{screening.datetime}}">{{screening.time}}</time>

		<h3>
			<a href="http://www.espoocine.fi/2015/fi/ohjelmisto/elokuvat/{{ screening.url }}" target="_blank" ng-click="$event.stopPropagation()"
			   ng-bind-html="screening.title | highlight:search.text"></a>
		</h3>
	</div>

	<div class="bottom">
		<small class="number">{{screening.number}}</small>
		<small class="duration">
			<time datetime="P{{screening.duration}}M">{{screening.duration}} min</time>
		</small>
	</div>
</section>
