<section class="screening" id="{{screening.id}}" ng-click="showKlik(screening)"
		 ng-class="{
		 	special: screening.special,
		 	selected: $storage.selected[screening.id],
		 	'selected-sibling': siblingIsSelected(screening),
		 	target: screening.id == scrollTarget
		 }"
		 ng-style="{
		 	top: screening.timeslotdiff * 1.5 + 'px',
		 	height: screening.duration * 1.5 + 'px'
		 }">

	<div class="bg" ng-style="{ 'background-image': 'url(' + screening.img + ')' }"></div>

	<address ng-if="screening.special">
		<h4>{{screening.theater}}</h4>
	</address>

	<a ng-if="screening.extraurl" href="http://www.espoocine.fi" class="extra" target="_blank">#</a>

	<img class="fb" src="img/facebook.png" alt="facebook logo" title="{{ i18n.fbshared }}"
		 ng-if="fbshare[screening.id]">

	<ul class="fb-friends">
		<li ng-repeat="friend in friends" ng-if="friend.selected[screening.id]">
			<img ng-src="{{ friend.photoURL }}" alt="{{ friend.name }}" title="{{ friend.name }}">
		</li>
	</ul>

	<div class="full"></div>

	<div class="top">
		<time title="{{ screening.date | date:'EEE' }} {{ screening.datetime | date:'short':'+0300' }} {{ screening.theater }}"
			  datetime="{{ screening.datetime }}">{{ screening.datetime | date:'shortTime':'+0300' }}</time>
	</div>

	<div class="bottom">
		<h3>
			<a href="{{ 'http://www.espoocine.fi/2016/' + (locale == 'en' ? 'en/programme/movies/' : 'fi/ohjelmisto/elokuvat/') + screening.url }}" target="_blank" ng-click="$event.stopPropagation()">
				<span ng-if="search.text" ng-bind-html="screening.title | highlight:search.text"></span>
				<span ng-if="! search.text" ng-bind="screening.title"></span>
			</a>
		</h3>

		<small class="number">
			<a href="#{{ screening | nextscreeningid }}" ng-click="$event.stopPropagation(); numberKlik(screening)" du-smooth-scroll>{{screening.number}}</a>
		</small>
		<small class="duration">
			<time datetime="P{{screening.duration}}M" title="{{screening | endtime | date:'shortTime':'+0300'}}">{{screening.duration}} min</time>
		</small>
	</div>
</section>
